/* custom drop down  start here */
.custom-select {
  position: relative;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #eee;
  border-radius: 5px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #616161;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid black;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgb(155 149 149 / 10%);
  color: black;
  scale: 1.02;
  margin: 0 6px;
}

/* custom drop down  end here */
/* stepper style  start here */

.stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  .step {
    display: table-cell;
    position: relative;
    padding: 1.5rem;
    z-index: 2;
    width: 25%;
    &:last-child .step-bar-left,
    &:last-child .step-bar-right {
      display: none;
    }

    .step-circle {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
      border-radius: 50%;
      text-align: center;
      line-height: 1.75rem;
      font-size: 1rem;
      font-weight: 600;
      z-index: 2;
      border: 2px solid black;
    }

    &.done {
      .step-circle {
        background-color: black;
        border: 2px solid black;
        color: #ffffff;

        &:before {
          font-family: "FontAwesome";
          font-weight: 100;
          content: "\f00c";
        }
        .span {
          display: none;
        }
      }
      .step-title {
        color: #102a43;
      }
    }

    &.editing {
      .step-circle {
        background: black;
        border-color: black;
        color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      .step-title {
        color: #212121;
        /* text-decoration: underline; */
      }
    }

    .step-title {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: 600;
    }
    .step-title,
    .step-optional {
      text-align: center;
      color: #829ab1;
    }
    .step-optional {
      font-size: 0.75rem;
      font-style: italic;
      color: #9fb3c8;
    }

    .step-bar-left,
    .step-bar-right {
      position: absolute;
      top: calc(2rem + 5px);
      /* height: 5px; */
      background-color: #d9e2ec;
      border: solid #d9e2ec;
      border-width: 1px 0;
    }
    .step-bar-left {
      width: calc(100% - 4rem);
      left: 50%;
      margin: 0 1.9rem;
      z-index: -1;
    }
    .step-bar-right {
      width: 0;
      left: 50%;
      margin: 0 1.9rem;
      z-index: -1;
      transition: width 500ms ease-in-out;
    }
    &.done .step-bar-right {
      background-color: black;
      border-color: black;
      z-index: 3;
      width: calc(100% - 4rem);
    }
  }
}

/* stepper style  end here */
